@import url('https://fonts.googleapis.com/css?family=Roboto');
#map {
  height: 600px;
  width: 75%;
}
h1{
  font-family: 'Roboto', sans-serif;
}
.form-control {
  display: inline;
  float: right;
  width: 25%;
}